$maincolor: rgba(110, 156, 159, 1);
$font-active: 700;

%titleh1 {
  font-size: 55px;
  line-height: 110%;
  color: rgba(0, 0, 0, 1);
}
%titleh2 {
  font-size: 40px;
  line-height: 110%;
  color: rgba(0, 0, 0, 1);
}
%titleh3 {
  font-size: 25px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);
}
%titleh4 {
  font-size: 20px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);
}
%text {
  font-size: 17px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);
}
%bigtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: rgba(0, 0, 0, 1);
}
%cartitem {
  font-size: 15px;
  line-height: 140%;
  color: #998e78;
}
