@import "vars"; /* Переменные из SCSS*/
@import "fonts"; /* Шрифты */
@import "reset"; /* Обнуление CSS*/
@import "libs"; /*Загрузка сторонних плагинов*/
@import "global"; /* Глобальные стили*/

/* Ниже пишется основа*/
/*---header-------------------------------------------------------------*/
.header {
  &__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 51px 0 41px;
  }

  &__logo {
    margin-right: 146px;
  }

  &__navigation {
  }

  &__items {
    display: flex;
  }

  &__item + &__item {
    margin-left: 45px;
  }

  &__link {
    @extend %text;
    font-size: 15px;
  }
  &__link--active {
    color: $maincolor;
    font-weight: $font-active;
  }

  &__cart {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__phone {
    @extend %text;
    font-size: 15px;
  }

  &__cart-img {
    margin-left: 67px;
    position: relative;
  }

  &__cart-img-link {
  }
  &__cart-num {
    font-weight: 400;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
    line-height: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #998e78;
    right: -10px;
    top: -10px;
  }
}
/*--------Footer------------------------------------------------------ */
.footer {
  background-color: #f1eadc;
  &__top {
    padding-top: 101px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__logo {
    margin-right: 146px;
    transform: translateY(6px);
  }

  &__navigation {
  }

  &__items {
    display: flex;
  }

  &__item + &__item {
    margin-left: 45px;
  }

  &__item {
  }

  &__link {
    @extend %text;
    font-size: 15px;
  }

  &__link--active {
    color: $maincolor;
    font-weight: $font-active;
  }

  &__info {
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-bottom: 9px;
  }

  &__phone {
    @extend %text;
    font-size: 15px;
    margin-bottom: 9px;
  }

  &__mail {
    @extend %text;
    font-size: 15px;
  }

  &__bottom {
    padding-bottom: 101px;
    display: flex;
    align-items: flex-end;
  }

  &__right {
    margin-right: 188px;
  }

  &__text {
    font-size: 13px;
    color: #000000;
  }

  &__text + &__text {
    margin-top: 6px;
  }

  &__types {
  }

  &__type + &__type {
    margin-top: 10px;
  }

  &__type-link {
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
  }

  &__item-link {
  }

  &__socials {
    margin-left: auto;
  }

  &__social {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__social-link + &__social-link {
    margin-left: 12px;
  }

  &__social-img {
  }

  &__pay {
    margin-left: auto;
  }
}

/*----------------------------- Слайдер----------------------- */
.slider {
  margin-bottom: 55px;

  &__container {
    max-width: 1339px;
  }
  &__carousel {
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 145px;
    margin-left: 104px;
  }

  &__title {
    @extend %titleh1;
    max-width: 570px;
    padding-bottom: 45px;
  }

  &__subtitle {
    @extend %bigtext;
    max-width: 385px;
    text-align: right;
    padding-bottom: 52px;
  }

  &__buttons {
    display: flex;
    max-width: 385px;
    justify-content: flex-end;
  }
  &__link-arrow {
    padding: 20px 26px;
    background: rgba(110, 156, 159, 0.1);
  }
  &__link-btn {
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    color: #ffffff;
    background-color: $maincolor;
    padding: 22px 50px;
  }

  &__arrow {
  }

  &__photos {
    position: relative;
    margin-right: 107px;
    padding-bottom: 62px;
  }

  &__photo-1 {
  }

  &__photo-2 {
    position: absolute;
    right: -107px;
    top: 123px;
  }

  &__photo-3 {
    position: absolute;
    left: -130px;
    bottom: -60px;
  }
  .slick-dots {
    display: flex;
    justify-content: flex-start;
    margin: -64px 0 0 375px;
    position: relative;
    li {
      padding: 0 6px;
    }
    button {
      font-size: 0;
      width: 30px;
      height: 4px;
      background-color: rgba(209, 209, 209, 1);
    }
  }
  .slick-active button {
    background-color: rgba(0, 0, 0, 1);
  }
}

@import "media"; /* Медиа запросы*/
